<html lang="en">

<head>
      {{>scripts}}
</head>

<body>
      <div class="jumbotron">
            <h1 class="display-4">Error 404</h1>
            <p class="lead">Ooops, something went wrong. Check your connection or your input parameters.</p>
            <hr class="my-4">
            <p>If you still want to view my website please click the button below</p>
            <a class="btn btn-warning btn-lg" href="/" role="button">Go back</a>
      </div>
</body>

</html>