<html lang="en">

<head>
      {{>scripts}}
</head>

<body>
      {{>header}}
      <div class="container">
            <h1>{{title}}</h1>
            
            <p><em>Created by {{name}}</em></p>
      </div>
     {{>footer}}
</body>

</html>